body {
    background-image: url('../img/langit.jpg');
    background-size:auto; 
}

.container{
    background-color: #ffffff99;
    backdrop-filter: blur(1rem);
}

.form {
    background-color: white;
    justify-content: left;
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.landing{
    background-color: #ffffff99;
    backdrop-filter: blur(1rem);
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem 0 2rem 0;
}