table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
th {
    background-color: yellow;
    color: black;
}
h1 {
    text-align: justify;
    text-indent: 4.5in;
    margin-bottom: 0in;
}